.div_table {
    margin-left: 25%;
    width: 50%;
    height: 870px;
    display: flex;
    align-items: center;
}

.div_body {
    width: 100%;
    height: 870px;
    display: flex;
    align-items: center;
    background-color: #e9e9e9;
}

.colunas {
    width: 10px;
}

.div_botao {
    background-color: #e9e9e9;
}