<!-- LAYOUT -->
<mat-sidenav-container class="top">
    <!-- MENU -->
    <mat-sidenav class="side" #sidenav [mode]="'side'">
            <button class="btn_home" mat-stroked-button routerLink="/login">Home<mat-icon>home</mat-icon></button>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="top">
            <div class="btn_side">
                <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            </div>
            <div class="logo">
                <h1>FleeTour</h1>
            </div>
        </div>

        <!-- BODY -->
        <div class="body" id="body">
            <router-outlet></router-outlet>
        </div>
        <!-- BODY -->

        <!-- FOOTER -->
        <div class="footer" style="float: left; width: 100%;">

        </div>
        <!-- FOOTER -->
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- LAYOUT -->